#Folders 
lib/
TP6/TP6_Project/Project/build/
TP6/TP6_Project/Project/.cproject
TP6/TP6_Project/Project/.project

TP5_FFT/Noisy/build/
TP5_FFT/Noisy/.cproject
TP5_FFT/Noisy/.project

TP5_FFT/Noisy_correction/build/
TP5_FFT/Noisy_correction/.cproject
TP5_FFT/Noisy_correction/.project

TP4_CamPI/TP4_CamReg/CamReg/build/
TP4_CamPI/TP4_CamReg/CamReg/.cproject
TP4_CamPI/TP4_CamReg/CamReg/.project

TP3_ChibiOS/TP3_Chibi/Chibi/build/
TP3_ChibiOS/TP3_Chibi/Chibi/.cprojet
TP3_ChibiOS/TP3_Chibi/Chibi/.projet
TP3_ChibiOS/TP3_Chibi/.projet


.DS_Store
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
